* {
  --text: #120f0c;
  --background: #fcfafa;
  --primary: #f38950;
  --secondary: #be754e;
  --accent: #e58b5a;

  margin: 0;
  padding: 0;
  color: var(--text);
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}
header {
  background-color: var(--background);
  text-align: center;
  padding: 40px;
}
nav {
  padding: 10px;
  background-color: var(--primary);
  display: flex;
  justify-content: space-evenly;
}
nav ul {
  font-size: 16px;
  font-weight: bold;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
nav li {
  float: left;
}
nav li:hover {
  background-color: var(--secondary);
}
nav a {
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
nav a:hover {
  color: rgb(255, 255, 255);
}
section {
  background-color: var(--background);
  padding: 20px;
}
